<config>
<Language Value="Greek" />
<Translation Value="UGNT" />
<Translation_Name Value="unfoldingWord® Greek New Testament, version 0.27 2022-07-11" />
<Copyright Value="© 2022 by unfoldingWord" />

<USFM_Foldername Value="USFM" />
<VersesID_Foldername Value="VersesID" />
<Data_Foldername Value="Data" />

<!-- In <VerseID_Foldername> -->
<Verses_Filename_Suffix Value="verses.txt" />
<Merged_Verses_Filename_Suffix Value=".mergedVerses.txt" />
<Lexicon_Data_Filename_Suffix Value=".lexicon.data.txt" />
<Lexicon_Filename_Suffix Value=".lexicon.tsv" />
<Morphs_Filename_Suffix Value=".morphs.tsv" />
<Lexicon_Morphs_Filename_Suffix Value=".lexicon.morphs.tsv" />

</config>